cytoolz==1.0.1
requests==2.32.3
typing==3.7.4.3
distributed==2022.11.1
fsspec==2025.3.0
multidict==6.2.0
networkx==3.2.1
cuml==22.12.0
frozenlist==1.5.0
psycopg2==2.9.3
tornado==6.1
pylibraft==22.12.1
filelock==3.13.1
python-dotenv==1.1.0
fastrlock==0.8.3
joblib==1.4.2
websockets==15.0.1
Bottleneck==1.4.2
cudf==22.12.1
dask==2022.11.1
sentry-sdk==2.25.1
python-dateutil==2.9.0.post0
tqdm==4.67.1
dask-cuda==22.12.0
pydantic==2.11.3
sortedcontainers==2.4.0
mkl-service==2.4.0
six==1.17.0
msgpack==1.1.0
partd==1.4.2
patsy==1.0.1
gmpy2==2.2.1
pynvml==12.0.0
protobuf==3.20.3
platformdirs==4.3.7
triton==2.0.0
TA-Lib==0.4.32
charset-normalizer==3.3.2
locket==1.0.0
bokeh==2.4.3
sympy==1.13.3
numpy==1.23.5
wheel==0.45.1
tblib==3.0.0
scikit-learn==1.6.1
cubinlinker==0.3.0
treelite==3.0.0
click==8.1.8
nvtx==0.2.11
mkl_random==1.2.8
SQLAlchemy==1.4.36
packaging==24.2
typing-inspection==0.4.0
cachetools==5.5.2
cupy==11.6.0
smmap==5.0.2
ucx-py==0.29.0
importlib_resources==6.5.2
rmm==22.12.0
yarl==1.19.0
pydantic_core==2.33.1
setuptools==75.8.0
urllib3==2.3.0
numba==0.56.4
pandas==1.4.2
greenlet==1.1.2
wandb==0.19.9
llvmlite==0.39.1
propcache==0.3.1
aiosignal==1.3.2
seaborn==0.13.2
pyarrow==9.0.0
zipp==3.21.0
torchaudio==2.0.2
setproctitle==1.3.5
gitdb==4.0.12
Jinja2==3.1.6
mkl_fft==1.3.11
pyparsing==3.2.3
scipy==1.13.1
treelite-runtime==3.0.0
PySocks==1.7.1
psutil==7.0.0
GPUtil==1.4.0
toolz==1.0.0
pillow==11.1.0
mpmath==1.3.0
statsmodels==0.13.2
pip==25.0
raft-dask==22.12.1
matplotlib==3.9.4
PyYAML==6.0.2
async-timeout==5.0.1
eval_type_backport==0.2.2
ptxcompiler==0.8.1
fastavro==1.10.0
cycler==0.12.1
schedule==1.2.2
typing_extensions==4.12.2
lz4==4.3.3
attrs==25.3.0
cuda-bindings==11.8.6
docker-pycreds==0.4.0
Brotli==1.0.9
threadpoolctl==3.6.0
contourpy==1.3.0
torchvision==0.15.2
MarkupSafe==3.0.2
GitPython==3.1.44
aiohappyeyeballs==2.6.1
dask-cudf==22.12.1
certifi==2025.1.31
idna==3.7
annotated-types==0.7.0
pytz==2025.2
torch==2.0.1
zict==3.0.0
cloudpickle==3.1.1
fonttools==4.57.0
nvidia-ml-py==12.570.86
kiwisolver==1.4.7
aiohttp==3.11.16
